<p>Salut</p>
<script type="text/javascript">

  var toto = "salut";

  //alert('hello');

  function test(argv1){
    alert (argv1);
  }
</script>

<script type="text/javascript">
  //alert('toto');
  test('je passe une valeur à argv1');
</script>
